/* margin*/
.mlr-fix {
	margin-left: -15px;
	margin-right: -15px;
}
.mt-35 {
	margin-top: 35px;
}
.mt-25 {
	margin-top: 25px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-0 {
	margin-top: 0px;
}
.mr-20 {
	margin-right: 20px;
}
/*~~~~~~~ padding ~~~~~~~~~*/
.plr-0 {
	padding-left: 0px;
	padding-right: 0px;
}
.pt-30 {
	padding-top: 30px;	
}
.pt-10 {
	padding-top: 10px;	
}
.pb-30 {
	padding-bottom: 30px;	
}
.p-0 {
	padding: 0px;
}
.ptb-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.ptb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.plr-10 {
	padding-left: 10px;
	padding-right: 10px;
}

/*heading style*/
h2 {
	font-size: 23px;
	line-height: 23px;
}
h3 {
	font-size: 18px;
	line-height: 20px;
}
h6 {
	font-size: 14px;	
}
/*text style*/
.text-xs {
	font-size: 14px;	
}


/*~~~~~~~~~~~
 color 
 ~~~~~~~~~~~~~*/
.form-control:focus {
	border-color: #f45a40;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(209, 78, 78, 0.6);
}
.text-muted-dark {
	color: #67686d;
}
.text-gray {
	color: #7e7f84;
}
.text-light-red {
	color: #f45a40;
}
.text-white {
	color:#FFFFFF;
}
/*bg color style*/

.bg-light-ash {
	background-color: #2A2D34;
}
.bg-light-red {
	background-color: #f45a40;
}