/* ==== general styles ====*/
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: #262626;
}

.text-rss {
	color: #f8bc2e;
}
.text-facebook {
	color: #39599F
}
.text-gplus {
	color: #1872BF
}
/* ==== Nevigation styles ====*/
.reg .navbar-nav:last-child {
	margin-right: 0px;
}
.navbar-custom {
	border: 0px;
}
.reg .navbar-nav li a {
	padding: 30px 20px;
	color: #fff;
}

/* ==== Header styles ====*/
.header .navbar-nav li a {
	color: #FFF;
	font-size: 18px;
	padding: 25px 30px;
}
.header .navbar-nav li a:hover, .header .navbar-nav li a:focus, .header .navbar-nav li a:active {
	background-color: #F0626E;
	color:#FFFFFF;
	transition: all 0.3s ease;
}
.dd-object {
	width: 300px;
}
.dd-object .icon {
	position: relative;
	display: inline-block;
	float: left;
}
.objects {
	position: relative;
	display: inline-block;
	width: 200px;
	padding-left: 10px; 
	padding-right: 10px; 
}
.dd-object button:hover {
	
}
/* =========================
 Slider styles
 ==========================*/
.slider {

}
.man-img {
	width: 100%;
	height: 584px;
	display: inline-block;
	position: relative;
}
.man-img img {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.slider .man-img .img-hover .details {
	position: absolute;
	display: inline-block;
	top: 70%;
	background-color: rgba(0,0,0,0.5);
	width: 335px;
}
.slider .man-img .img-hover {
	opacity: 1;
	background-color: rgba(355,189,0, 0.1);
}
.slider .man-img .img-hover h4 {
	top: 89%;
	position: absolute;
	width: 335px;
	line-height: 28px;
}
/* == women ==*/
.women-img {
	width: 505px;
	height: 320px;
	display: inline-block;
	position: relative;
}
.women-img img {
	width: 505px;
	height: 320px;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.slider .women-img .img-hover {
	opacity: 1;
	background-color: rgba(240, 204, 164, 0.2);
}

.slider .women-img .img-hover .details {
	position: absolute;
	top: 55%;
	background-color: rgba(0,0,0,0.5);
	width: 335px;
}
/* == kids ==*/
.kids-img {
	margin-top: 10px;
	width: 505px;
	height: 254px;
	display: inline-block;
	position: relative;
}
.kids-img img {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.kids-img .img-hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.6);
}
.kids-img .img-hover .buy {
	position: absolute;
	right: 0;
}
/* =========================
 Search styles
 ==========================*/
.search .form-group {
	width: 90%;
}
.search .form-group .form-control {
	border-radius: 0px;
	border: none;
	height: 60px;
	padding: 15px 25px;
	font-size: 18px;
	padding: 15px 25px;
	color: #676767;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}
.search .form-group input {
	width: 97%;
}
.search .btn-custom {
	background-color: transparent;
	border: medium none;
	font-size: 40px;
	color: #FFFFFF;
	padding: 0px;
	transform: rotateY(180deg);
}

.crafts {
	display: inline-block;
	position: relative;
	width: 648px;
	height: 373px;
}
.crafts img {
	width: 100%;
	height: 100%;
}
.crafts .img-hover {
	opacity: 1;
	background-color: rgba(237, 216, 179, 0.2);
}
.crafts .img-hover .buy {
	position: absolute;
	right: 0;
	bottom: 4.5%;
}

.jewel .img-hover {
	opacity: 1;
	background-color: rgba(237, 216, 179, 0.2);
}
.jewel .img-hover .details {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	transform: rotate(90deg);
	bottom: 12.5%;
	right: -13.5%;
}
.jewel .img-hover .details h1 {
	transform: rotate(180deg);
}
/* =========================
 New Products styles
 ==========================*/

.image {
	position: relative;
}
.image img {
	width: 100%;
}
.img-hover {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	vertical-align: middle;
	background-color: rgba(0,0,0, 0.7);
	opacity: 0;
	width: 100%;
	height: 100%;
}
.img-hover .buy {
	display: inline-block;
	position: relative;
	margin-top: 25%;
	margin-left: 7%;
}
.image:hover .img-hover {
	opacity: 1;
	transition: all 0.3s ease;
}
.image .img-hover .buy a:hover {
	color: #FFFFFF;
}
.first-slider .owl-theme .owl-controls {
	position: absolute;
	color: white;
	margin-top: -55px;
	top: -11%;
	right: 0;
	margin: -70px 15px 0px 0px;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.owl-prev, .owl-next {
	background-color: #F0626E     :
}
.first-slider .owl-theme .owl-controls .owl-nav .owl-prev, .first-slider .owl-theme .owl-controls .owl-nav .owl-next {

	font-size: 30px;
	padding: 10px 20px;
	border-radius: 0px;
}
.first-slider .owl-theme .owl-controls .owl-nav .owl-prev:hover, .first-slider .owl-theme .owl-controls .owl-nav .owl-next:hover {
	background-color: #05AECC;
}

/* =========================
 Featured Products styles
 ==========================*/
.thumbnail {
	padding: 0px;
	border-radius: 0px;
}
.thumbnail .caption {
	box-sizing: border-box;
}
.thumbnail .options {
	border-top: 1px solid #DDDDDD;
	box-sizing: border-box;
	width: 100%;
}
.br {
	border-left: 1px solid #DDDDDD;
}
.thumbnail .options a {
	display: inline-block;
	color: #C2C2C2;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
}
.second-slider .owl-theme .owl-controls {
	position: absolute;
	color: white;
	margin-top: -55px;
	top: -5.5%;
	right: 0;
	margin: -70px 15px 0px 0px;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.second-slider .owl-theme .owl-controls .owl-nav .owl-prev, .second-slider .owl-theme .owl-controls .owl-nav .owl-next {
	font-size: 30px;
	padding: 10px 20px;
	border-radius: 0px;
}
/* =========================
 Register styles
 ==========================*/

.section-header {
	border-bottom: 1px solid #AAAAAA;
}
.section-header span {
	border-bottom: 1px solid #F0626E;
}
.reg .btn-mod {
	width: 50%;
	border: medium none;
	border-radius: 0px;
	height: 50px;
	font-size: 20px;
}
/* =========================
 Footer styles
 ==========================*/
.footer {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.footer ul {
	list-style: none;
	margin-left: -40px;
}
.footer ul li a {
	font-size: 16px;
	color: #676767;
	line-height: 30px;
}
.footer ul li a:hover {
	border-bottom: 1px solid #ccc;
	color: #F0626E;
	transition: all 0.3s ease;
}
.footer .form-group .form-control {
	border-radius: 0px;
	height: 50px;
}
.footer .btn-mod {
	height: 40px;
	width: 100%;
	border-radius: 0px;
	border: none;
}
.footer .btn-mod:hover {
	background-color: #F0626E;
	outline: none;
	transition: all 0.3s ease;
}
.footer .socials ul li {
	display: inline-block;
}
.footer .socials ul li a {
	font-size: 24px;
}
.footer .socials ul li a:hover {
	border-bottom: none;
}
.copy {
	border-bottom: 1px solid #ccc;
}
