/*
 Author:
 Template: Love Dating (Landing)
 Version: 1.1
 URL:
 */

/* TABLE OF CONTENTS

 1. Import section
 2. Basic styles
 3. Typography
 4. Header
 5. Menubar
 6. date
 7. testimonial
 8. Member
 9. social
 10. Statistics
 11. Subscribe
 12. Footer

 */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
}

/*————————————————————————————————————————————
 *
 * Basic styles
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 *
 * Typography
 *
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Header
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Menubar
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * date
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * testimonial
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Member
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * social
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Statistics
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Subscribe
 ————————————————————————————————————————————*/

/*————————————————————————————————————————————
 * Footer
 ————————————————————————————————————————————*/