body {
	font-family: 'Raleway', sans-serif;
	position: relative;
}
.main {
	width: 100%;
	float: left;
	background: #fff;
}

.intro-header {
	background-attachment: fixed;
	height: 660px;
	position: relative;
}
.intro-header .slider-item {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*==============================
 * About style
 ===============================*/
.about-item {
	padding: 110px 0px;
}
.about-item p {
	padding-right: 65px;
	line-height: 25px;
}
.sign {
	position: relative;
	margin-top: 40px;
}
.sign ul::before {
	border: 1px solid #000;
	content: " ";
	height: 100%;
	left: -70%;
	position: absolute;
}
.sign ul li a {
	padding: 15px 0;
}

/*==============================
 * Desigh for style
 ===============================*/
.designer {
	background-image: url('../images/bg-work.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.shadow {
	position: relative;
	background-color: rgba(0,0,0,0.8);
}
.design-item {
	background: #fff url("../images/bgimg.jpg") no-repeat scroll center center;
	float: left;
	margin: 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.design-item img {
	height: 100%;
	min-height: 520px;
	transition: all 0.2s linear 0s;
	width: 100%;
	display: block;
	position: relative;
}
.design-item .mask {
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0;
	transition: all 0.4s ease-in-out 0s;
	height: 100%;
	left: 0;
	padding-top: 100px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.design-item h2 {
	margin-top: 110px;
	font-size: 20px;
	margin: 20px 0 0;
	padding: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	transform: translateY(-100px);
	transition: all 0.2s ease-in-out 0s;
}
.design-item p {
	font-size: 14px;
	font-style: italic;
	padding: 0px 20px;
	position: relative;
	text-align: center;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.2s linear 0s;
}
.design-item a.info {
	background: #000;
	box-shadow: 0 0 1px #000;
	color: #fff;
	display: inline-block;
	padding: 10px 14px;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0;
	transition: all 0.2s ease-in-out 0s;
}
.design-item:hover img {
	transform: scale(1.1);
	cursor: progress;
}
.design-item:hover .mask {
	opacity: 1;
}
.design-item:hover h2, .design-item:hover p, .design-item:hover a.info {
	opacity: 1;
	transform: translateY(0px);
}
.design-item:hover p {
	transition-delay: 0.1s;
}
.design-item:hover a.info {
	transition-delay: 0.2s;
}
/*==============================
 * Progress Bar
 ===============================*/
.circle1 strong {
	position: absolute;
	top: 25%;
	transform: translateY(-25%);
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 50px;
}
.circle1 span {
	display: block;
	margin-top: 12px;
}
/*==============================
 * portfolio
 ===============================*/
.portfolio-item {
	width: 33.33333%;
	float: left;
	min-height: 450px;
	position: relative;
}
.portfolio-item img {
	width: 100%;
	height: 100%;
}
.portfolio-item .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
}
.portfolio-item .overlay:hover {
	opacity: 1;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.portfolio-item .overlay .btn-custom {
	background-color: #4CC2C0;
	font-size: 32px;
	padding: 15px 25px;
	color: #000;
	position: absolute;
	left: 27%;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-weight: 600;
}
.portfolio-item .overlay .btn-custom:hover {
	background-color: transparent;
	color: #fff;
	border: 1px solid #4CC2C0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
/*==============================
 * Clients
 ===============================*/
.client {
	background-image: url('../images/bg-client.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
/*

 .client .shadow {
 background-color: rgba(23, 187, 212, 0.5);
 }
 .client-say .owl-theme .owl-dots .owl-dot span {
 background-color: transparent;
 }
 .client-say .owl-theme .owl-dots .owl-dot.active span, .client-say .owl-theme .owl-dots .owl-dot:hover span {
 background: transparent
 }
 .client-say .owl-theme .owl-dots .owl-dot.active span {
 background-color: #FFFFFF;
 transform: scale(1.0);
 -webkit-transform: scale(1.0);
 -moz-transform: scale(1.0);
 -o-transform: scale(1.0);
 }
 */
/*==============================
 * Contacts
 ===============================*/
.contact {
	background-image: url('../images/bg-contact.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.form-custom {
	border-radius: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	position: relative;
	background-color: rgba(255,255,255, 0.7);
}
.form-custom input, .form-custom textarea {
	border-color: transparent;
	color: #6a6a6a;
	font-size: 16px;
	padding: 15px 40px;
	margin-bottom: 15px;
	transition: all 0.3s ease 0s box-shadow : none;
	width: 100%
}
.form-group .input-gray {
	background-color: #f7f9f9;
	border-radius: 50px;
}
.form-custom input:focus, .form-custom textarea:focus {
	background-color: #fff;
	/*box-shadow: 17px 0 60px #d3dcdc;*/
	color: #4cc2c0;
}
/*.table {
 display: table;
 }
 .table-cell{
 display: table-cell;
 float: none;
 vertical-align: middle;
 }*/
.submit-btn {
	overflow: hidden;
	padding-bottom: 30px;
}
.submit-btn .btn {
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.btn-small {
	font-size: 16px;
	padding: 15px 35px;
	border-radius: 50px;
	color: #6a6a6a;
	transition: all 0.3s ease 0s;
	background-color: #4cc2c0;
}
/*==============================
 * Footer
 ===============================*/
footer {
	position: relative;
	background-color: #222222;
}
.footer-content {}
footer .footer-content h1 {
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 3px;
}
.footer-social li a {
	color: #FFFFFF;
	font-size: 14px;
}
